@AlmostBlack: rgb(10,10,10);
@DarkGrey: rgb(102, 102, 102);
@AlmostWhite: rgb(204,204,204);
@PaleBlue: rgb(102, 187, 255);
@Red: rgb(255,0,0);
@Green: springgreen;
html
{
  background-color: @AlmostBlack;
  margin: 0;
  padding: 0;
  color: green;
  height: 100%;
  body
  {
    background-color: @AlmostBlack;
    height: 100%;
    padding: 0;
    color: @AlmostWhite;
    overflow: auto;
  }
  .lightblue
  {
    color: @PaleBlue;
  }
  .darker
  {
    color: @DarkGrey;
  }
  .red
  {
    color: @Red;
  }
  .green
  {
    color: @Green;
  }
  div.controls
  {
    float: left;
    width: 21%;
    overflow: auto;
    position: relative;
    height: 100%;
    display: block;
    div.pad
    {
      padding: 5px;
    }
    h2
    {
      font-size: 22px;
      margin: 0;
      line-height: 28px;
    }
    h2.green
    {
      color: springgreen;
    }
    h2.blue
    {
      color: @PaleBlue;
    }
    div.gg160x600
    {
      display: none;
    }
    div.footer
    {
      position: absolute;
      bottom: 0;
      margin: 5px;
      width: 100%;
      height: 47px;
      overflow: auto;
      img
      {
        float: left;
        margin-right: 5px;
      }
      h1
      {
        color: red;
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        padding-top: 5px;
        line-height: 20px;
      }
      p
      {
        margin: 0;
        padding: 0;
      }
    }
  }
  div.charts
  {
    float: left;
    width: 79%;
    height: 100%;
  }
  iframe
  {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
  }
}