html {
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
  color: green;
  height: 100%;
}
html body {
  background-color: #0a0a0a;
  height: 100%;
  padding: 0;
  color: #cccccc;
  overflow: auto;
}
html .lightblue {
  color: #66bbff;
}
html .darker {
  color: #666666;
}
html .red {
  color: #ff0000;
}
html .green {
  color: springgreen;
}
html div.controls {
  float: left;
  width: 21%;
  overflow: auto;
  position: relative;
  height: 100%;
  display: block;
}
html div.controls div.pad {
  padding: 5px;
}
html div.controls h2 {
  font-size: 22px;
  margin: 0;
  line-height: 28px;
}
html div.controls h2.green {
  color: springgreen;
}
html div.controls h2.blue {
  color: #66bbff;
}
html div.controls div.gg160x600 {
  display: none;
}
html div.controls div.footer {
  position: absolute;
  bottom: 0;
  margin: 5px;
  width: 100%;
  height: 47px;
  overflow: auto;
}
html div.controls div.footer img {
  float: left;
  margin-right: 5px;
}
html div.controls div.footer h1 {
  color: red;
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  line-height: 20px;
}
html div.controls div.footer p {
  margin: 0;
  padding: 0;
}
html div.charts {
  float: left;
  width: 79%;
  height: 100%;
}
html iframe {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
