<div class="controls">
    <div class="pad overflow ">

        <!-- STATUS -->
        <p class="lead nomargin pull-left">Balance: </p>
        <p class="pull-right mt5">&nbsp;BTC</p>
        <h2 class="pull-right green" id="ttb-btc-balance">0.00</h2>
        <br class="clear" />
        <a id="ttb-reset-prices" title="Update price and balance" class="btn btn-info btn-mini tt">update</a>
        <a id="ttb-fill-sell-box" title="Populate Sell Boxes" class="btn btn-danger btn-mini tt"><i class="icon-arrow-down icon-white"></i></a>
        <a id="ttb-fill-buy-box" title="Populate Buy Boxes" class="btn btn-success btn-mini tt"><i class="icon-arrow-up icon-white"></i></a>
        <p class="pull-right mt5">&nbsp;USD</p>
        <h2 class="pull-right green" id="ttb-usd-balance">0.00</h2>
        <br class="clear" />
        <p class="pull-right mt5">&nbsp;USD</p>
        <h2 class="pull-right tr lightblue" id="ttb-current-price">0.00</h2>
        <p class="lead nomargin pull-left">Current Price</p>
        <hr class="clear mt5" />


        <!-- SELL BTC PRICE SLIDER-->
        <div class="pull-right ml10 tc">
            <a id="reset-usd-slider" class="btn btn-info btn-mini pull-right">cur</a><br />
            <small class="darker" id="ttb-top-usd-slider-price">1000<span class="hide">1000</span></small><br />
            <input id="ttb-usd-slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000"
                   data-slider-step="1" data-slider-value="500" data-slider-orientation="vertical"
                   data-slider-selection="before" data-slider-tooltip="hide" /><br />
            <small class="darker" id="ttb-bottom-usd-slider-price">0<span class="hide">0</span></small>
        </div>
        <!-- SELL BTC AMOUNT SLIDER-->
        <div class="pull-left mr10">
            <a  id="reset-btc-slider" class="btn btn-info btn-mini pull-left">bal</a><br />
            <small class="darker" id="ttb-top-btc-slider-price">1000<span class="hide">1000</span></small><br />
            <input id="ttb-btc-slider" type="text" class="span2" value="" data-slider-orientation="vertical"
                   data-slider-min="0" data-slider-max="1000"
                   data-slider-step="1" data-slider-value="500"
                   data-slider-selection="before" data-slider-tooltip="hide" /><br />
            <small class="darker" id="ttb-bottom-btc-slider-price">0<span class="hide">0</span></small>
        </div>


        <!-- SELL -->
        <form class="pl10 pr10 nomargin">


            <p id="ttb-label-sell" class="lead nomargin red">Sell</p>
            <div class="input-prepend">
                <span class="add-on"><i class="fa fa-bitcoin darker"></i></span>
                <input class="span2" id="ttb-sell-btc-amt" type="text" placeholder="Sell Price" value="0" />
            </div>


            <br />at a price per coin of<br />
            <div class="input-prepend">
                <span class="add-on"><i class="fa fa-dollar darker"></i></span>
                <input class="span2" id="ttb-sell-btc-price" type="text" placeholder="Sell Price" value="0.00" />
            </div>
            <br />


            <h2 id="ttb-makes-usd" class="pull-right green">0</h2>
            <h2 class="pull-right green"><i class="fa fa-dollar"></i></h2>
            <p class="lead nomargin">making</p>
            <div class="centered">
                <a id="ttb-sell-button" class="btn btn-danger mt5 ml5 pc60 centered" type="button">SELL</a>
            </div>

        </form>

        <!-- BUY BTC PRICE SLIDER-->
        <!--                <div class="pull-right ml10 tc clear">-->
        <!--                    <a id="reset-buy-btc-price-slider" class="btn btn-info btn-mini pull-right">cur</a><br />-->
        <!--                    <small class="darker" id="ttb-top-buy-btc-slider-price">1000<span class="hide">1000</span></small><br />-->
        <!--                    <input id="ttb-buy-btc-price-slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000"-->
        <!--                           data-slider-step="1" data-slider-value="500" data-slider-orientation="vertical"-->
        <!--                           data-slider-selection="before" data-slider-tooltip="hide" /><br />-->
        <!--                    <small class="darker" id="ttb-bottom-buy-btc-slider-price">0<span class="hide">0</span></small>-->
        <!--                </div>-->


        <form class="ml10 pl30 pr30 mr10 mt10">


            <p id="ttb-label-buy" class="lead nomargin green">Buy</p>
            <div class="input-prepend">
                <span class="add-on"><i class="fa fa-bitcoin darker"></i></span>
                <input class="span2" id="ttb-buy-btc-amt" type="text" placeholder="Sell Price" value="0.00" />
            </div>


            <br />at a price per coin of<br />
            <div class="input-prepend mt5">
                <span class="add-on"><i class="fa fa-dollar darker"></i></span>
                <input class="span2" id="ttb-buy-btc-price" type="text" placeholder="Amount of Bitcoins" value="0" />
            </div>

            <br />


            <h2 id="ttb-makes" class="pull-right green">0</h2>
            <h2 class="pull-right green"><i class="fa fa-bitcoin"></i></h2>
            <p class="lead nomargin">making</p>


            <h2 id="ttb-makes-btc" class="pull-right green">0.0001</h2>
            <h2 class="pull-right green"><i class="fa fa-bitcoin"></i></h2>
            <p class="lead nomargin">profit</p>
            <small class="darker pull-right">0.01</small>
            <small class="darker pull-left">0.0001</small>
            <div class="tc">
                <input id="ttb-profit-slider" type="text" class="span2" value="" data-slider-min="0.0001" data-slider-max="0.01"
                       data-slider-step="0.0001" data-slider-value="0.0001" data-slider-orientation="horizontal"
                       data-slider-selection="after" data-slider-tooltip="hide" />
            </div>
            <a id="ttb-buy-button" class="btn  btn-success pc90 mt10" type="button">BUY</a>

            <p class="lead nomargin">orders</p>
            <ol id="ttb-orders" class="nolist nomargin nopad">
                <li><div class="alert"><small>Loading orders...</small></div></li>
            </ol>

        </form>
    </div>
</div>


<div class="charts" >
    <iframe src="http://bitcoinwisdom.com/markets/btce/btcusd" ></iframe>
</div>


<script type="text/javascript" src="/js/btctrader.js"></script>