<?php

return [
    'routes' => [
        '/' => [
            'controller' => 'index',
            'action' => 'index',
            'params' => [],
        ],
        '/trade/:exchange' => [
            'controller' => 'index',
            'action' => 'trade',
            'params' => [],
        ],
    ],
    'db' => [
            'host' => '127.0.0.1',
            'database' => '',
            'user' => '',
            'pass' => ''
    ],
    'templates' => [
        'layout'
    ],
    'apis' => [
        'btce' => [
            'key' => '',
            'secret' => '',
        ],
        'kraken' => [],
        'bitstamp' => [],
        'bitfinex' => [],
    ]
];